{% extends 'base.html' %}

{% block title %}Password Changed Done{% endblock %}

{% block content %}
    <div class="container">
         <div class="jumbotron">
            <h1 class="display-4">Password Changed</h1>
            <p class="lead">Password changed successfully</p>
            <hr class="my-4">
            <p>click the link below to return back to dashboard</p>
                <a class="btn btn-primary btn-lg" href="{% url 'unreacted' %}" role="button">Dashboard</a>
         </div>
    </div>
{% endblock %}