{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <ol class="breadcrumb my-4">
        <li class="breadcrumb-item active"><h1><strong>Change Password</strong></h1><br/><h5 class="text-muted d-block">{{ alerts.comment }}</h5></li>
      </ol>
    <div class="container">

    <p>Please enter your old password, for security's sake, and then enter your
        new password twice so we can verify you typed it in correctly.</p>
        <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <input class="btn btn-success" type="submit" value="Change my password">
</form>
    </div>

{% endblock %}