<nav aria-label="Page navigation example">
    <div class="pagination">
        {% if queryset.has_previous %}
            <a class='pagination-action pl-5' href="?page=1">
                <button class='btn btn-primary'><i class="fa fa-fast-backward" aria-hidden="true"></i></button>
    
            </a>
            <a class="pagination-action" href="?page={{ queryset.previous_page_number }}">  
                  <button class='btn btn-primary'><i class="fa fa-step-backward" aria-hidden="true"></i></button>
              </a>
        {% endif %}
    
        {% for num in queryset.paginator.page_range %}
            {% if queryset.number == num %}
                <span class="pagination-number pagination-current"><button class='btn btn-info'>{{ num }}</button></span>
                {% elif num > queryset.number|add:'-3' and num < queryset.number|add:'3' %}
                <a class="pagination-number" href="?page={{ num }}"><button class='btn btn-primary'>{{ num }}</button></a>
            {% endif %}
        {% endfor %}
    
        {% if queryset.has_next %}
            <a class="pagination-action" href="?page={{ queryset.next_page_number }}">
                <button class='btn btn-primary'><i class="fa fa-step-forward" aria-hidden="true"></i></button>
            </a>
            <a class="pagination-action" href="?page={{ queryset.paginator.num_pages }}">
                <button class='btn btn-primary'><i class="fa fa-fast-forward" aria-hidden="true"></i></button>
            </a>
        {% endif %}
    </div>
</nav>
